.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    opacity: 0.15;
    overflow: hidden;  // hide wherever it overflows from parent element

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover;  // fill the entire parent while still maintaing its aspect ratio
    }
}